# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Build files
dist/
build/
.out/
.next/
.vercel/
.netlify/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
yarn-error.log
*.gz

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories for other package managers
.pnp/
.pnp.js

# TypeScript & Babel caches
*.tsbuildinfo
.cache/
babel-cache/

# Static site output
out/
public/

# Misc
*.swp
*.bak
