backend/node_modules/
backend/package-lock.json
frontend/node_modules/
frontend/package-lock.json
.idea
frontend/.env
backend/.env
backend/coverage
backend/dist
node_modules
package-lock.json
backend/src/kriti-ai-backend-firebase-adminsdk-fbsvc-b52521c920.json

